/* Thanh navbar khi ở trên đầu trang */
.navbar {
  transition: background-color 0.3s, color 0.3s;
  background-color: transparent;
  display: flex;
  align-items: center;

  .navbar-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    .logo{
      width: 20%;
      display: flex;
      align-items: center;
      img {
        width: 30%;
      }
      .shopName{
        color: white;
      }
    }



    .desktop-menu {
      width: 30%;
    }

    .auth-buttons {
      display: flex;
      gap: 10px;
    }

    .mobile-menu {
      display: block;
    }
  }
}

/* Thanh navbar khi cuộn xuống */
.navbar.scrolled {
  background-color: black;
  color: white;
}

.auth-btn {
  color: white;
  cursor: pointer;
  font-weight: bold;
}

.auth-btn:hover {
  color: #1890ff; /* Thay đổi màu khi hover */
}


@media (min-width: 768px) {
  .desktop-menu {
    display: block;
  }

  .mobile-menu {
    display: none;
  }
}

/* Con trỏ pointer cho các nút ở màn hình nhỏ */
@media (max-width: 768px) {
  .auth-btn {
    cursor: pointer;
  }

  .menu-button {
    cursor: pointer;
  }
}
